<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>假面骑士EXAID</title>
    <link href="../mycss/main.css" rel="stylesheet">
    <link href="https://img0.baidu.com/it/u=2115935943,3484615041&fm=253&app=138&size=w931&n=0&f=PNG&fmt=auto?sec=1687539600&t=5da21a3263c0f2c819e77aac6519f9d6"
          rel="icon">
</head>
<body>
<div class="menu">
    <img data-src="/picutres/exiad.webp"
         src="/picutres/exiad.webp"
         srcset="/picutres/exiad.webp"
         style="position: fixed; top: 0px; width: 100%;left: -1px; height: 100%; object-fit: cover; object-position: center top; animation: 2s ease 0s 1 normal none running show;">
    <div class="ribbon">
        <a href="../index.html"><span>主页</span></a>
        <a href="main.html"><span>介绍</span></a>
        <a href="exaid.html"><span>EXAID</span></a>
        <a href="brave.html"><span>BRAVE</span></a>
        <a href="snipe.html"><span>SNIPE</span></a>
        <a href="https://blog.csdn.net/qq_64068129/article/details/131356139?spm=1001.2014.3001.5502"><span>报告</span></a>
    </div>
    <div class="introduce">
        <table id="gamestart"
               style="display: table; border-collapse: collapse; margin: auto; background-color:transparent;">
            <tbody>
            <tr>
                <td style="vertical-align: top; color:#B2B7F2; font-size:36px; font-family:'Times New Roman',serif; font-weight:bold; text-align:left; padding:10px 10px; line-height:100%">
                    “
                </td>
                <td style="text-align: left; padding: 1em; vertical-align: middle;"><b><big>Game Start!</big></b></td>
                <td style="vertical-align: bottom; color:#B2B7F2; font-size:36px; font-family:'Times New Roman',serif; font-weight:bold; text-align:left; padding:10px 10px; line-height:100%">
                    ”
                </td>
            </tr>
            </tbody>
        </table>
        <div class="introduce1">
            <table align="right" class="infobox"
                   style="display:table; font-size:89%; text-align:center; width:260px; max-width:100%; float:right; background-color:rgba(251,251,251,0.8);">
                <tbody>
                <tr class="infobox-title">
                    <td colspan="2" style="background-color:#E4007F; color:White; font-size:100%; padding:1em;"><b><big>假面骑士Ex-Aid</big></b>
                    </td>
                </tr>
                <tr>
                    <td class="infobox-image-container" colspan="2"><img
                            alt="Kamen Rider Ex-Aid logo.png" class="infobox-image lazyload"
                            data-lazy-src="/picutres/420px-Kamen_Rider_Ex-Aid_logo.webp"
                            data-lazy-srcset="/picutres/420px-Kamen_Rider_Ex-Aid_logo.webp 1.5x, /picutres/420px-Kamen_Rider_Ex-Aid_logo.webp 2x"
                            data-lazy-state="done" height="117"
                            src="/picutres/420px-Kamen_Rider_Ex-Aid_logo.webp"
                            srcset="/picutres/420px-Kamen_Rider_Ex-Aid_logo.webp 1.5x, /picutres/420px-Kamen_Rider_Ex-Aid_logo.webp 2x"
                            style="" width="280"></a><br>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">原名</td>
                    <td><span lang="ja">仮面ライダーエグゼイド</span>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">译名</td>
                    <td>假面骑士Ex-Aid<br>幪面超人Ex-Aid<br>假面骑士究极救助<br>假面骑士终极救助<br>假面骑士艾克赛德<br>
                        <del>包永梦日记</del>
                        <sup class="reference" id="cite_ref-1"></sup>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">地区</td>
                    <td>日本
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">首播时间</td>
                    <td>2016年10月2日
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">总话数</td>
                    <td>45
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">制作公司</td>
                    <td>东映
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">监督</td>
                    <td>中泽祥次郎 等
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">编剧</td>
                    <td>高桥悠也
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">音乐</td>
                    <td>ats-、清水武仁、渡边彻
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">制作</td>
                    <td>大森敬仁、菅野步
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">发行</td>
                    <td>朝日电视台
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">播放平台</td>
                    <td>腾讯视频<sup class="reference" id="cite_ref-2"></sup>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">播放状态</td>
                    <td><span style="color:green;">已完结</span>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">相关作品</td>
                    <td>
                        《<a href="https://baike.baidu.com/item/%E5%81%87%E9%9D%A2%E9%AA%91%E5%A3%ABGhost/17612724?fr=aladdin"
                            title="假面骑士Ghost">假面骑士Ghost</a>》（上一作）<br>《<a
                            href="https://baike.baidu.com/item/%E5%81%87%E9%9D%A2%E9%AA%91%E5%A3%ABBuild/20839996?fr=aladdin"
                            title="假面骑士Build">假面骑士Build</a>》（下一作）
                    </td>
                </tr>
                <tr>
                    <td bgcolor="lawngreen" style="min-width:80px;color:inherit;">角色设计</td>
                    <td>田岛秀树、PLEX
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p id="game">《<b>假面骑士Ex-Aid</b>》（日文：<span lang="ja">仮面ライダーエグゼイド</span>；英文：Kamen Rider
            Ex-Aid）是石森章太郎原作，大森敬仁任制片人，高桥悠也编剧<sup class="reference" id="cite_ref-3"></sup>、中泽祥次郎导演，在2016年播出的日本特摄电视剧。该作是“平成假面骑士”系列的第18部作品，主角则是第33位主角假面骑士。
        </p>
        <h2><span id=".E6.95.85.E4.BA.8B.E6.A6.82.E8.A6.81"></span><span class="mw-headline"
                                                                         id="故事概要">故事概要</span></h2>
        <p>2016年，因怪人崩源体（Bugster）出现，未知的电脑游戏病毒现正开始侵蚀世界。</p>
        <p>为了拯救感染者，决心与崩源体战斗的天才游戏玩家宝生永梦以变身腰带玩家驱动器，与传说的游戏软件卡带（<a href="#Rider_Gashat">Gashat</a>）变身为假面骑士Ex-Aid，与各样游戏类型的假面骑士们一同现身！游戏开始（Game
            Start）！各种游戏的高手，灭绝崩源体吧！
        </p>
        <h2><span id=".E6.9C.AC.E4.BD.9C.E8.AE.BE.E5.AE.9A"></span><span class="mw-headline"
                                                                         id="本作设定">本作设定</span></h2>
        <h3><span id=".E5.9C.A3.E9.83.BD.E5.A4.A7.E5.AD.A6.E9.99.84.E5.B1.9E.E5.8C.BB.E9.99.A2"></span><span class="mw-headline" id="圣都大学附属医院">圣都大学附属医院</span></h3>
        <p>原文：<span lang="ja">聖都大学附属病院（せいとだいがくふぞくびょういん）</span> / <i>Seito University Hospital</i>
        </p>
        <p>永梦等人所属的大学医院，该院的院长为镜灰马。
        </p>
        <h3><span id=".E7.94.B5.E8.84.91.E6.95.91.E5.91.BD.E4.B8.AD.E5.BF.83"></span><span class="mw-headline" id="电脑救命中心">电脑救命中心</span></h3>
        <p>原文：<span lang="ja">電脳救命（でんのうきゅうめい）センター</span> / <i>Computer Rescuing Center</i>
        </p>
        <p>简称为「CR」，是为了应对与崩源体有关的疫情所成立的秘密医疗部门。隐藏在圣都大学附属医院地下的特殊建筑，需透过医院的专用电梯以类似按游戏密技的手法才可到达的地方。内部设有专门对感染游戏病的患者进行感染隔离的隔离室及DoReMiFa节拍的游戏机台。该处的负责人为圣都大学附属医院院长镜灰马，创立者为现任卫生省大臣官房审议官日向恭太郎。
        </p>
        <h3><span id=".E5.8D.AB.E7.94.9F.E7.9C.81"></span><span class="mw-headline" id="卫生省">卫生省</span></h3>
        <p>原文：<span lang="ja">衛生省（えいせいしょう）</span> / <i>Ministry of Health</i>
        </p>
        <p>电脑救命中心所属的上级机关。该机关拥有将感染游戏病的患者无须透过阶层机关直接通报至电脑救命中心的特殊权力。
        </p>
        <h3><span class="mw-headline" id="Bugster">Bugster</span></h3>
        <p>原文：<span lang="ja">バグスター</span>/<i>Bugster</i>
        </p>
        <p>本作中登场的怪人。人类感染的新型电脑病毒，感染微小的崩源体病毒后，经过一定程度的增值，感染者将出现名为“游戏病”的中毒症状。
        </p>
        <p>感染者的身体将慢慢透明，如不经过及时治疗，感染者将会彻底消失。战斗时，崩源体病毒将化为人形，群体一起攻击目标。
        </p>
        <p>攻击方法以格斗为主，装备有武器和各种道具。
        </p>
        <h3><span class="mw-headline" id="Rider_Gashat">Rider Gashat</span></h3>
        <p>原文：<span lang="ja">ライダーガシャット</span>/<i>Rider Gashat</i>
        </p>
        <p>本作假面骑士变身专用道具。通过玩家驱动器开启内藏的电玩游戏数据力量（包括专属武装，除了Gashacon Bugwiser），游戏领域实体化后，帮助被感染到称为“游戏病”的患者以战斗进行异类性的手术治疗。使用后会激活人类体内的“游戏病”病毒，在体内没抗体的情况下普通玩家会感染游戏病。
        </p>
        <p>另外发动必杀技时的字体会因应卡带类型而有所变化。外型上基本都是相同的，但剧中也有一部分卡匣拥有特殊的形状。
        </p>
        <h3><span id=".E5.B9.BB.E6.A2.A6.E9.9B.86.E5.9B.A2"></span><span class="mw-headline" id="幻梦集团">幻梦集团</span></h3>
        <p>原文：<span lang="ja">幻夢（ゲンム）コーポレーション</span> / <i>Genm Corporation</i>
        </p>
        <p>与卫生省合作的大型游戏软件开发企业，负责协助开发玩家驱动器及骑士卡带，现因「假面骑士编年史」的大卖使得股价狂涨。曾因「零日事件」导致面临破产的危机，而当时的社长檀正宗（檀黎斗之父）也因此遭到逮捕入狱。
        </p>
        <p>该集团的前任社长为檀黎斗，后透过小星作得知新任社长即将上任。但之后檀黎斗因「假面骑士编年史」卡带快要完成及丧尸玩家能力大幅提升下，重返幻梦集团并再次坐上社长之位。而在檀黎斗「Game Over」后，接任者为天崎恋，但因为他的胡作非为使得员工产生怨言，之后在檀正宗出狱后，重新夺位就任社长。同时，檀正宗打算借由「假面骑士编年史」这款游戏将幻梦集团推上世界第一企业的位置，而且檀正宗打算让幻梦集团取代医疗体系成为掌控人命的执掌者。但最终回因檀正宗的关系导致再次面临破产危机，但在西马妮可买下公司的股分成为大股东并指派小星作担任新任社长下才得以挽救，现时在卫生省的推动下，与电脑救命中心共同合作开发治疗崩源体病毒的相关疫苗。
        </p>
        <h3><span id=".E6.9C.BA.E5.99.A8.E8.A7.86.E8.A7.89"></span><span class="mw-headline" id="机器视觉">机器视觉</span></h3>
        <p>原文：<span lang="ja">マキナビジョン</span> / <i>Machina Vision</i>
        </p>
        <p>檀正宗为了拓展海外市场而选择合作的游戏公司，有着全世界最先进的VR技术，该公司的社长为强尼·马克希玛，亦是本作剧场版的敌人。第39话中得知向檀正宗提出与幻梦集团的合作条件就是必须提供一台玩家驱动器给予他们，但在第41话时却因双方目的不合彼此需求下导致谈判失败。
        </p>
        <h3><span id=".E8.8A.B1.E5.AE.B6.E5.8C.BB.E9.99.A2"></span><span class="mw-headline" id="花家医院">花家医院</span></h3>
        <p>原文：<span lang="ja">花家医院</span>
        </p>
        <p>原为花家大我独自经营的黑牌医院。花家大我为该院的负责人兼拥有者。在本篇最终回时卫生省考察花家大我的卓越功绩及镜飞彩的请托下，正式允许花家大我成立的应对游戏病专门医院，与电脑救命中心同样地能收留及治疗游戏病病患。
        </p>
    </div>
</div>
</body>
</html>
