<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>假面骑士介绍</title>
    <link href="../mycss/menu.css" rel="stylesheet">
    <link rel="icon"
          href="https://img.moegirl.org.cn/common/thumb/8/83/Kamen_Rider_50th_Logo_Revice.svg/420px-Kamen_Rider_50th_Logo_Revice.svg.png">
</head>
<body>
<div class="menu">
    <img style="position: fixed" class="menu_bgk"
         src="https://img.moegirl.org.cn/common/1/14/Kamenriderzioheiseiforover.webp" alt="">
    <div class="stars"></div>
    <div class="content">
        <div class="ribbon">
            <a id="1" href="menu.html"><span>主页</span></a>
            <a href="main.html"><span>介绍</span></a>
            <a href="exaid.html"><span>EXAID</span></a>
            <a href="brave.html"><span>BRAVE</span></a>
            <a href="SNIPE.html"><span>SNIPE</span></a>
            <a href="https://blog.csdn.net/qq_64068129/article/details/131356139?spm=1001.2014.3001.5502"><span>报告</span></a>
        </div>
    </div>
    <div class="arrow">
        <a href="#here">MORE</a>
    </div>
    <div class="menu_tit">
        <h3 class="menu_tit1">欢迎来到我的网站</h3>
        <h3 class="menu_tit2">我将对特摄剧《假面骑士EXAID》做一个简单的介绍</h3>
    </div>
    <div class="clearIntroduce">
        <h1>为了让那些对假面骑士这个IP不怎么了解的人也能看懂</h1>
        <h1>这里我将对假面骑士这个IP做一个简单的介绍</h1>
    </div>
    <div class="allintro">
        <div class="introduce">
            <span class="artic" id="here">“假面骑士系列”为1971年开始的石森章太郎为原作并由东映制作的特摄电视剧系列。系列的首部《假面骑士》于1971年4月3日播出后，受到各个年龄层观众的喜爱，并引申出更多的假面骑士后续作品。
                其中的主角“假面骑士”最初由漫画家石森章太郎担任形象设计，并由东映的平山亨与阿部征司负责企划并命名。所以昭和假面骑士系列均会注明原作“石森章太郎”来纪念他。石森章太郎于1998年1月28日去世后，东映株式会社所创作的平成假面骑士系列和令和假面骑士系列作品也均会注明原作“石森章太郎”来纪念他。
                假面骑士现划分为昭和骑士、平成骑士和令和骑士三大类。自首作《假面骑士》到《假面骑士J》，都是有关进行改造手术的改造人与邪恶组织对抗的故事，他们被归类为昭和骑士。而由《假面骑士空我》至《假面骑士Zi-O》及其相关作品登场的假面骑士，被归类为平成骑士。从《假面骑士Zero-One》起登场的假面骑士被归类为令和骑士。</span>
            <table class="infobox2" align="right" border="0" cellpadding="1"
                   style="border-collapse:separate;border-spacing:2px;font-size:89%; text-align:center; width:280px; max-width:100%; float:right; background-color:#FFF; color:#000;">
                <tbody>
                <tr class="infobox-title">
                    <td colspan="3" style="background-color:black; color:#FFFFFF; font-size:100%; padding:1em;"><big><b><span
                            lang="ja">仮面ライダー</span></b></big>
                    </td>
                </tr>
                <tr class="infobox-image-container">
                    <td colspan="3" style="text-align:center;"><a href="/File:Kamen_Rider_50th_Logo_Revice.svg"
                                                                  class="image"><img
                            alt="Kamen Rider 50th Logo Revice.svg" width="280" height="288"
                            class="infobox-image lazyload multimediaViewerScrollSet" data-file-width="68"
                            data-file-height="70"
                            data-lazy-src="https://img.moegirl.org.cn/common/thumb/8/83/Kamen_Rider_50th_Logo_Revice.svg/280px-Kamen_Rider_50th_Logo_Revice.svg.png"
                            data-lazy-srcset="https://img.moegirl.org.cn/common/thumb/8/83/Kamen_Rider_50th_Logo_Revice.svg/420px-Kamen_Rider_50th_Logo_Revice.svg.png 1.5x, https://img.moegirl.org.cn/common/thumb/8/83/Kamen_Rider_50th_Logo_Revice.svg/560px-Kamen_Rider_50th_Logo_Revice.svg.png 2x"
                            data-lazy-state="done" style=""
                            src="https://img.moegirl.org.cn/common/thumb/8/83/Kamen_Rider_50th_Logo_Revice.svg/280px-Kamen_Rider_50th_Logo_Revice.svg.png"
                            srcset="https://img.moegirl.org.cn/common/thumb/8/83/Kamen_Rider_50th_Logo_Revice.svg/420px-Kamen_Rider_50th_Logo_Revice.svg.png 1.5x, https://img.moegirl.org.cn/common/thumb/8/83/Kamen_Rider_50th_Logo_Revice.svg/560px-Kamen_Rider_50th_Logo_Revice.svg.png 2x"></a><br>
                    </td>
                </tr>
                <tr>
                    <td style="width:80px; background-color:green; color:white;">原名</td>
                    <td style="text-align:center" colspan="2"><span lang="ja">仮面ライダー</span>
                    </td>
                </tr>
                <tr>
                    <td style="width:80px; background-color:green; color:white;">常用译名</td>
                    <td style="text-align:center" colspan="2">假面骑士、蒙面超人、Masked/Kamen Rider<sup id="cite_ref-1"
                                                                                                       class="reference"></sup>
                    </td>
                </tr>
                <tr>
                    <td style="width:80px; background-color:green; color:white;">原作</td>
                    <td style="text-align:center" colspan="2"><span
                            style="display:inline-block; border:1px solid #333; padding:1px"><a
                            href="https://baike.baidu.com/item/%E7%9F%B3%E6%A3%AE%E7%AB%A0%E5%A4%AA%E9%83%8E/5491468?fromModule=lemma_inlink"
                            title="石之森章太郎">石之森章太郎</a></span>
                    </td>
                </tr>
                <tr>
                    <td style="width:80px; background-color:green; color:white;">地区</td>
                    <td style="text-align:center" colspan="2">日本
                    </td>
                </tr>
                <tr>
                    <td style="width:80px; background-color:green; color:white;">官方网站</td>
                    <td style="text-align:center" colspan="2"><a target="_blank" rel="nofollow noreferrer noopener"
                                                                 class="external text"
                                                                 href="https://www.kamen-rider-official.com/">假面ライダーWEB【公式】｜东映</a>
                    </td>
                </tr>
                <tr>
                    <td style="width:80px; background-color:green; color:white;">制作年份</td>
                    <td style="text-align:center" colspan="2">1971年
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script src="/js/menu.js">
</script>
<style>
</style>
</html>
